<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.title}}</span>
        <span class="site-description">{{site.description}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:{{site.email}}">
          <i class="icon fa fa-envelope"></i></a>

        <a aria-label="Github" target="_blank" href="https://github.com/{{site.github}}">
          <i class="icon fa-2x fa-github" aria-hidden="true"></i></a>

        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter}}">
          <i class="icon fa-2x fa-twitter" aria-hidden="true"></i></a>
      </div>
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
